html{
  box-sizing: border-box;
}
body{
  width: fit-content;
  display: grid;
  margin-top: 0px;
}

nav{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  position: fixed;
  background-color: white;
  width: 100%;
}

#nav{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
#nav a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  color: #10ACAF;
  font-weight: bold;;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
}
main{
  padding-top: 6em;
  display: grid;
  grid-gap: 20px;
  justify-items: center;
}
img{
  background-color: white;
}

.body-container img{
  width: 35em;
  height: 25em;
  box-shadow: 0 8px 20px -6px grey;
  padding: 10px;
  border-radius: 20px;
}

#header{
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  background-color: #10ACAF;
  padding: 1em;
  margin: 10px;
  border-radius: 2em;
  height: fit-content;
  color: white;
  box-shadow: 0 8px 20px -6px black;
  border: 10px solid white;
}
h1{
  font-size: 3em;
  border-left: 10px solid white;
  padding-left: 10px;
  background-color: #222;
  box-shadow: 0 8px 20px -6px black;
  font-family: cursive;
  
}
h2{
  font-size: 1.5em;
  font-family: cursive;
}
button{
  padding: 1em 1em;
  width: fit-content;
  background-color: white;
  outline: none;
  border-radius: 10px;
  border: none;
  font-size: 1em;
  box-shadow: 0 8px 20px -6px black;
  text-decoration: none;
  color: #10ACAF;
  font-weight: bold;
  font-family: cursive;
  margin: 10px;
}
#header a{
  text-decoration: none;
  color: #10ACAF;
  font-weight: bold;
}
.content{
  display: grid;
  justify-items: center;
  background-color: #10ACAF;
  border-radius: 10px;
  border: 10px solid white;
  box-shadow: 0 8px 20px -6px black;
  width: 60%;
  padding: 20px;
}
.content article{
  width: inherit;
  padding-left: 10px;
  background-color: #30ACAF;
  border-radius: 10px;
  color: white;
  border: 10px solid white;
  box-shadow: 0 8px 20px -6px black;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
article h3, #footer h3{
  color: white;
  font-family: cursive;
  margin: 10px;
  text-align: center;
  font-size: 1.5em;
  padding: .5rem;
  padding-left: 5px;
  border-left: 5px solid white;
  box-shadow: 0 8px 20px -6px black;
  background-color: #222;
}
article p{
  font-size: 1em;
  font-family: cursive;
  padding: 10px;
  border-right: 15px solid white;
}

.content h2{
  color: white;
  font-size: 3em;
  border-left: 10px solid white;
  padding-left: 10px;
  background-color: #222;
  box-shadow: 0 8px 20px -6px black;
}
.portfolio-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.portfolio-item img{
 width: 25em;
 height: 15em;
}
#footer{
  margin-top: 10px;
  justify-self: center;
}
#footer a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #333;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 30px;
}
#go-up{
  justify-self: center;
}
#go-up a{
  text-decoration: none;
  color: #10ACAF;
  font-weight: bold;
}
media only screen and (max-width: 600px){
    main {
        width: 100%;
    }
}

@media only screen and (min-width: 401px) and (max-width: 524px) {
 
    main {
        width: 100%;
    }
}

@media only screen and  (min-width: 525px) and (max-width: 760px) {
    main {
        width: 100%;
    }
}
