{
  box-sizing: border-box;
}

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	background: #f2f0eb;
	font: 16px Helvetica, Arial, Sans-Serif; color: #636363; line-height: 24px;
}
.image-section{
    position: relative;
}
.image-section img {
    width: 100%;
    height: 50vh;
}

.image-section span {
    position: absolute;
    top: 10px;
    left: 30px;
    color: #fff;
}

#container {
	width: 100%; margin: 0 auto;
}

#logo {
	margin: 10px auto 0 auto; position: relative; width: 183px;
}

#nav {
  display: flex;
  flex-direction: row;
  background-color: #333;
  overflow: hidden;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  list-style-type: none;
}
  
#nav a {
  display: flex;
  flex-direction: row;
  background-color:#636363;
  overflow: hidden;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  margin: 2px;
}
#nav a:hover {
  background-color: #ddd;
  color: black;
}

#nav a.active {
  background-color: black;
  color: white;
}
#header {
	height: 244px; 
        padding: 52px 0 0 57px;

}

	#header h1 {
		font: 38px Georgia, Serif; color: black; letter-spacing: 2px; margin: 0 0 20px 0;
		text-shadow: 0px 3px 3px #494949;
	}
	#header h2 {
		width: 510px; font: 30px Georgia, Serif; color: black; letter-spacing: 2px; margin: 0 0 20px 0;
		text-shadow: 0px 3px 3px #494949;
	}
	#header p.btn a {
		display: block; width: 225px; height: 50px; overflow: hidden;
		text-indent: -9999px;
	}
	
#content {
	padding: 57px 69px 50px 69px; 
        overflow: hidden;
}
	#content h2 {
		font: 30px Georgia, Serif; 
                letter-spacing: 2px; margin: 0 0 20px 0;
	}

	#content h3 {
		font: 26px Georgia, Serif; letter-spacing: 2px; margin: 0 0 20px 0;
	}
	
	#content p {
		margin: 0 0 30px 0;
	}
	
	#content a {
		color: #a12121; text-decoration: none;
	}
		#content a:hover {
			color: #671111;
		}

#content .portfolio-item {
	width: 182px; padding: 4px; background: #eee; text-align: center;
	float: left; margin: 0 7px 14px 7px;
}
	#content .portfolio-item p.btn {
		margin: 0;
	}
	#content .portfolio-item p.btn a {
		display: block; width: 183px; height: 29px; padding: 7px 0 0 0;
		font-weight: bold; 
		text-align: center; 
		text-transform: uppercase;
		text-decoration: none;
	}
	
.fa {
  padding: 30px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}
.fa-linkedin {
  background: #55ACEE;
  color: white;
}
#footer {
	padding: 40px 0 0 0;
	overflow: hidden; margin: 0 0 30px 0;
}
	#footer p#connect {
		font-size: 12px; float: left; margin: 0 0 0 30px; color: #b8b6b2;
	}
	#footer p#back-top {
		font-size: 12px; float: right; margin: 0 30px 0 0;
	}
		#footer a {
		color: #a12121; text-decoration: none;
	}
		#footer a:hover {
			color: #671111;
		}
media only screen and (max-width: 600px){
    main {
        width: 100%;
    }
    content {
        flex: 1 1 33%;
    }
   
}

@media only screen and (min-width: 401px) and (max-width: 524px) {
 
    main {
        width: 100%;
    }

    content  {
        flex: 1 1 33%;
    }
}

@media only screen and  (min-width: 525px) and (max-width: 760px) {
    main {
        width: 100%;
    }
    content {
        flex: 1 1 33%;
    }
}
